<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="InternetProjectDataBase" connectionString="metadata=res://*/SQLBD.InternetSQL.csdl|res://*/SQLBD.InternetSQL.ssdl|res://*/SQLBD.InternetSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=f107-sql\is2021;initial catalog=InternetProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>